<div class="header">
  <h1>
    Widget Overview
  </h1>
</div>
<div class="content">
  <p>
    Here are widgets loaded from my Basic Express App.
  </p>
  <button (click)="createWiget()">
    Create Widget
  </button>
  <ng-container *ngIf="ready; else notReady">
    <ng-container *ngFor="let widget of widgetResource.widgets">
      <app-widget-display [widget]="widget"></app-widget-display>
    </ng-container>
  </ng-container>
</div>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <p *ngIf="!error">Loading...</p>
</ng-template>
