<div class="header">
  <h1>
    Admin Panel
  </h1>
</div>
<div class="content">
  <table *ngIf="ready; else loading">
    <thead>
      <tr>
        <th>Email</th>
        <th>Admin</th>
        <th>Special Access</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.email }}</td>
        <td>{{ user.admin }}</td>
        <td>{{ user.specialAccess }}</td>
        <td>
          <button disabled>Edit</button>
        </td>
        <td>
          <button disabled>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
