<div class="header">
  <h1>
    Rest Sample
  </h1>
</div>
<div class="content">
  <p>
    Here are widgets loaded from my Basic Express App.
  </p>
  <ul *ngIf="ready; else notReady">
    <ng-container *ngFor="let widget of widgetResource.widgets">
      <li [title]="widget.description">
        <strong> {{ widget.name }} ({{ widget.type }}) </strong>
        |
        <span *ngIf="widget.used">used</span>
        <span *ngIf="!widget.used">new</span>
        |
        <small>id #{{ widget.id }}</small>
      </li>
    </ng-container>
  </ul>
</div>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <p *ngIf="!error">Loading...</p>
</ng-template>
