<div class="header">
  <h1>
    Rest Sample
  </h1>
</div>
<div class="content">
  <p>
    Here are widgets loaded from my Basic Express App.
  </p>
  <div *ngIf="ready; else notReady">
    {{widgetResource | json}}
  </div>
  <!-- <ul *ngIf="ready; else loading">
    <ng-container *ngFor="let todo of todos">
      <li>
        <strong>
          {{ todo.title }}
        </strong>
        |
        <span *ngIf="todo.completed">complete</span>
        <span *ngIf="!todo.completed">incomplete</span>
      </li>
    </ng-container>
  </ul> -->
</div>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <p *ngIf="!error">Loading...</p>
</ng-template>
